body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background-image:linear-gradient(to top left,rgba(43, 9, 9, 0.733),rgba(18, 18, 20, 0.781)); */
 
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ibtn{
  background-color: #160641;
  border-radius: 5em;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 0 6px 0 6px;
  color: #fff;
  vertical-align: super;
}
#idesc{
  position: absolute;
  background-color: rgb(255, 253, 253);
  color: #4b040a;
  display: none;
  margin: 5px;
  font-size: 15px;
  border-radius: 18px;
  padding: 5px;
}
.ibtn:hover #idesc{
  display: block;
}
/* Top moving button */

#topButton{
    transform: rotate(270deg);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-image:linear-gradient(to top left,rgba(34, 4, 68, 0.918),rgba(61, 4, 33, 0.909));
    color: #fff;
    cursor: pointer;
    padding: 10px;
    /* border-radius: 10em; */
    /* border-style: solid; */
    opacity: 0.8;
}
#topButton:hover{
  background-image:linear-gradient(to top left,rgba(40, 6, 78, 0.918),rgb(68, 6, 6));
 opacity: 1;
}
/* ******************************************************************************************* */
/* header style */
.logo{
  width:3em;
  height: 3em;
}
.navbar
{
  /* margin-bottom: 2.5em; */
  /* background-color: rgba(10, 0, 2, 0.815); */
  background-color: rgba(255,255,255,0.1);
  height:6em;
}
.navbar-brand
{
  color: rgb(32, 61, 124);
  font-size:xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: expanded;
  margin-right:1.5em;
  margin-left: 1.2em;
}
.navbar-brand:hover
{
  text-shadow: 1px 1px rgb(224, 227, 235);
  color: #153763;
}
.nav-link
{
  margin: 1.1em;
  font-weight: 600;
  font-size: larger;
  color: #153763;
}
.nav-link:hover
{
  color: #fff;
  background-color: #153763;
  border-radius: 5px;
}

.nav-link:focus
{
  color:#fff;
  background-color: #153763;
  /* border-radius: 2em; */
}
.btn-outline-success
{
  color: #153763;
  border-color: #153763;
}
.btn-outline-success:hover
{
  background-color:#153763;
  border-color: #aaa;
}
.me-2
{
  border-color: #153763;
}
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #153763;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin: 1px;
}
#navbarSupportedContent
{
  background-color: rgba(255,255,255,0.1);
}

@media screen and (max-width: 995px) {
  li.nav-item {
    background-color: #fff;
  }
}
@media screen and (max-width: 600px) {
  li.nav-item {
    background-color: #fff;
  }
  #navbarSupportedContent
  {
   padding: 1.5em;
   background-color: #eee; }
}
/* *************************************************************************************** */
/* section1 */
/* Background image */
.section1{

/* background-image: url(./assets/img/bg1.jpg); */
/* background:linear-gradient(rgba(22, 1, 32, 0.384),rgba(142, 129, 153,0.8 )), url(./assets/img/bg1.jpg); */
background-image: url(./assets/img/bg6.png);
 background-size: cover;
 width: 100%;
 /* opacity: 0.9; */
 min-height: 100vh;
}
/* typing text effects */
.typing-text{
  padding-top: 5em;
}
.typing-text p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Roberto' 'New Tegomin', 'cursive';
  
}
.typing-text p span.typed-text {
  font-weight:bolder;
  color: #ffef13;
  
}
.typing-text p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.typing-text p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.typed-text{
  font-family: 'Lobster', cursive;
}
/* text1 effects */
.section1text1{
  color: #fff;
  width:100%;
  padding-left: 25%;
  padding-right: 25%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Aleo', serif;
  font-size: large;
 
}
.sec1btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1button
{
  border-radius: 8px;
  cursor: pointer;
  font-family:Formular,sans-serif;
  font-weight: 600;
  width: 20em;
  margin: 5em;
  padding: 1em;
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
}
.section1button:hover{
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
  color: rgb(12, 24, 49);
}
@media screen and (max-width: 600px) {
.section1
{
  height: 40em;
}
.section1button{
  width: 100%;
}
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 1.1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ************************************************************************************* */
/* section2 */
/* form styles for create page*/
.section2
{
  /* background-image: url(./assets/img/bg3.jpg);
  width: 100%;
  height:500%; */
  padding: 5em;
  padding-top: 2em;
  min-height: 100vh;
  background-image:linear-gradient(to left bottom,rgba(228, 222, 235, 0.76),rgba(32, 12, 70, 0.904));
  background-image: url(./assets/img/bg17.png);
  /* background-size:cover; */
  /* background-repeat: no-repeat; */
}  
.newprojectbtn{
  color: rgba(12, 24, 49, 0.901);
  padding: 0.5em;
  /* margin: 1em; */
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 6px;
}
.newprojectbtn:hover{
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
 
}
.createpagebox
{
  padding: 1.2em;
  margin: 1em;
  margin-top: 0;
  /* margin-right:5%; */
  /* margin-left: 5%; */
  /* background-color: #af4c6a; */
  /* background-color: #281b6e; */
  /* background-image:linear-gradient(to left bottom , #151416,rgb(51, 18, 94)); */
  /* background-image:linear-gradient(to bottom , #af4c6a,rgb(196, 166, 166)); */
  text-align: left;
  /* border-radius: 1.3em; */
  
  /* box-shadow: 5px 5px 5px grey; */
  /* color: rgba(0,0,0,0.9); */
  color:rgb(37, 8, 105);
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Staatliches', Verdana, Geneva, Tahoma, sans-serif;
}
.createpagebox h1{
  text-shadow:1px 1px #111;
}
.createpagebox p{
  font-size: larger;
  text-shadow:3px 3px #111;
}
#sec1heading2{
 display: none;
}
.createform
{

  color: rgb(255, 255, 255);
  /* margin-top: 3em; */
  margin:4em;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1.1em;
  border-radius: 8px;
  padding-top: 2em;
  padding-bottom: 3em;
  /* border-radius: 1.2em; */
  background-color: rgba(7, 8, 59, 0.61);
  height: 20em;
  /* background-image:linear-gradient(to bottom right, #bac3ca,#fff); */
  /* box-shadow: 10px 10px 5px grey; */
}
@media screen and (max-width: 600px) {
.createform
{
  height: 25em;
}

}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 1.1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-50 {
  
  float:left;
  width: 50%;
  text-align: center;
}
.col-60 {
  float: left;
  width: 60%;
  margin-top: 1.1em;
}
input[type=text],input[type=number] ,select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #eee;
}

.formbutton {
  
  /* background-image:linear-gradient(to left bottom , #281b6e,rgb(107, 89, 139)); */
  /* background-image:linear-gradient(to bottom right, #af4c6a,rgb(24, 3, 3)); */
  /* background-image:linear-gradient(to left bottom , #151416,rgb(51, 18, 94));
  color: #ffffff; */
  
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 75%;
  font-family:Formular,sans-serif;
  font-weight: 600;
  /* width: fit-; */
  }

.formbutton:hover {
  
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
  font-weight: bolder; 
}
.createform label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10;
    margin-left: 0;
  }
  #navbarSupportedContent
  {
   padding: 1.5em;
   background-color: #eee; }
}
/* ****************************************************************************************** */
/* For form 2 cards */
/* card design */
.flip-card {
  background-color: transparent;
  height: 15em;
  width: 15em;
  /* margin-left: 15%; */
  /* margin-right: 10%; */
  margin-top: 1%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5em 0 3em 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-front {
  /* background-image:linear-gradient(to left bottom , #d46480c0,rgba(71, 61, 80, 0.658)); */
  background-image:linear-gradient(to left bottom , #090429e1,rgba(87, 6, 37, 0.87));
  /* background-image: url(./assets/img/bg2.jpg); */
  color: #fff;
  font-family:cursive;
}

.flip-card-back {
  /* background-image:linear-gradient(to left bottom , #d46480c0,rgba(71, 61, 80, 0.658)); */
  background-image:linear-gradient(to left bottom , #090429e1,rgba(87, 6, 37, 0.87));
  /* background-image: url(./assets/img/bg2.jpg); */
  color: white;
  transform: rotateY(180deg);
  font-family: cursive;
  padding-right: 2em;
  padding-left: 2em;
}
.btn2
{
  border-radius: 4px;
  cursor: pointer;
  width:5em;
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.342),rgba(119, 119, 116, 0.8));
  
}
.btn2:hover{
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
  
}
@media screen and (max-width: 600px) {
  .col-50{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .cards{
    height:37em;
  }
  .flip-card{
    margin-top: 1em;
  }
}
#form2{
  display: none;
  /* display: block; */
}
/* ****************************************************************************************** */
/* For form 3 */
#form3
{
  /* display: block; */
  display: none;
}
/* ****************************************************************************************** */
/* For form 4 */
#form4
{
  display: none;
}

.PreprocessForm
{
  color: rgb(255, 255, 255);
  /* margin:1em 2em 0 2em; */
  /* margin-top: 8em; */
  padding: 1.1em;
  border-radius: 8px;
  background-color: rgba(7, 8, 59, 0.61);
  
}
.PreprocessForm h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
.PreprocessForm p{
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #fff;
  padding: 0.5em;
  background-color: rgb(30, 3, 66);
  font-family: 'Roberto' 'New Tegomin', 'cursive';
}
.preprocesstable
{
  overflow:scroll;
}
.preprocesstable th
{
  text-align: left;
  padding: 1em;
  color: #fff;
  border: 1px solid #ddd;
  background-color: #4e032cc9;
}
.preprocesstable td
{
  text-align: left;
  padding: 1em;
  color: #fff;
  font-weight: 500; 
  border: 1px solid #ddd;
  background-color: #705e68c9;
}
.preprocesstable td:hover{
  background-color: #3b0f27c9;
}
.preprocesstable th:hover{
  background-color: #575154c9;
}
.preprocessbtn
{
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 75%;
  font-family:Formular,sans-serif;
  font-weight: 600;
  /* width: fit-; */
  }

.preprocessbtn:hover {
  
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
  font-weight: bolder; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3e9ed;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.autocheckbox{
  position: absolute;
  padding-left: 60%;
  font-size: x-large;
}
.autocheckbox input[type=checkbox]{
  width: 20px;
  height: 20px;
  margin: 8px;
}
.prepro{
  padding-top: 12px;
  padding-bottom: 12px;
}
.prepro input[type=checkbox] ,input[type=radio]{
  margin: 4px;
}
.prepro label{
  font-size: 14px;
  color: #000;
  padding-left: 4px;
}

.prepro:hover {background-color: #d6caca}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  margin-left: 80%;
  background-color: #f3e9ed;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.prepro:hover .dropdown-content2 {
  display: block;
}

/* For spinner/loader */
.loader{
  display:none;
  margin-top: 1em;
  padding: 1.1em;
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 1.2em;
  margin-left:7em;
  width:80%;
  background-color: rgba(7, 8, 59, 0.61);
  height: 20em;
  box-shadow: 10px 10px 10px 10px grey;
  /* background-color: #000; */
}
.loader p{
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 1em;
  color: #000;
  text-shadow:1px 1px rgb(69, 9, 97);
}
.loadertext{
  color: #000;
  
}
.spinner-location{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.spinner-border
{
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ****************************************************************************************** */
/* For form 5 */
#form5
{
  display: none;
  /* display: block; */
}

.Modelselection
{
  color: rgb(255, 255, 255);
  /* margin:1em 2em 0 2em; */
  /* margin-top: 8em; */
  margin: 1em;
  padding: 1.1em;
  border-radius: 8px;
  background-color: rgba(7, 8, 59, 0.61);
  
}
.Modelselection h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
.Modelselection p{
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #fff;
  padding: 0.5em;
  background-color: rgb(30, 3, 66);
  font-family: 'Roberto' 'New Tegomin', 'cursive';
}
.manualmodelcard input[type=checkbox]{
  margin: 4px;
  width: 18px;
  height: 18px;
  margin-top: 1em;
}
.manualmodelcard label{
  font-size: larger;
}
.manualcard{
  height:10em;
}
/* For hyperparmeter modal css */
.modal-backdrop
{
  background-color: rgba(255, 255, 255,0.2);
    /* opacity:0.5 !important; */
}
/* ********************************************************************************************* */
/* Section3 */
.section3
{ 
/* background:linear-gradient(rgba(105, 101, 105, 0.336),rgba(149, 149, 150, 0.404)), url(./assets/img/bg9.png); */
background-image: url(./assets/img/bg14.png);
  background-size: cover;
  background-repeat: no-repeat;
 min-height: 100vh;
}
.section3box{
  /* background-image:linear-gradient(to top left,rgba(20, 20, 20, 0.705),rgba(203, 205, 207, 0.815)); */
  /* background-image:linear-gradient(to top left,rgba(189, 189, 105, 0.979),rgb(235, 198, 30)); */
  /* margin-left: 25%; */
 
  height:20em;
  /* text-align: center; */
  color: rgb(247, 244, 250);
  padding-top: 2em;
margin-left: 5%;
}
.section3video
{
  margin-top: 2em;
}
.section3 h1{
  /* text-align: center; */
  margin-left: 10%;
  padding-right: 1em;
  color: rgb(255, 255, 255);
  font-family:'Staatliches', Verdana, Geneva, Tahoma, sans-serif;

}
.section3button
{
  border-radius: 8px;
  cursor: pointer;
  font-family:Formular,sans-serif;
  font-weight: 600;
  margin-top: 12em;
  position: relative;
  margin-left: 17em;
  padding: 0.7em;
  width: max-content;
  font-family:Formular,sans-serif;
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
}
.section3button:hover{
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
  color: rgb(12, 24, 49);
}
@media screen and (max-width: 600px) 
{
  .section3video
  {
    margin-top: 1em;
    width: 280px;
  }
  .section3button{
    width: 100%;
  }
}

/* ********************************************************************************************* */
.section4
{ 
background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.514),rgb(13, 19, 31));
background-image: url(./assets/img/bg13.png);
  background-size: cover;
 min-height: 100vh;

}


.section4button
{
  border-radius: 8px;
  cursor: pointer;
  color: #00000094;
  font-family:Formular,sans-serif;
  font-weight: 600;
  margin: 2em;
  padding: 0.8em;
  align-items: center;
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236,0.8),rgb(119, 119, 116,0.8));
}
.section4button:hover{
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
  
}
.section4col1{
  padding: 3em;
  padding-top: 2em;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  
}
.section4col1 h1
{
  font-size: 28px;
}

.section4col2{
  padding: 3em;
  padding-top: 8em;
  padding-bottom: 4em;
  font-family: 'Times New Roman', Times, serif;
 text-align: center;
  color: rgb(32, 6, 92);

}
@media screen and (max-width: 900px) 
{
  .section4col2{
    padding: 1em;
  }
  .section4button{
    width: 80%;
  }
}
/* ************************************************************************************************************************ */
/* section5 */
.section5
{ 
background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.685),rgb(39, 225, 231));
background-image: url(./assets/img/bg19.png);
  background-size: cover;
 min-height: 80vh;
 display: none;
}
.sec5heading{
  padding: 1em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(66, 49, 114);
 display: flex;
  align-items: center;
  justify-content: center; 
  
}
.goback{
  /* margin-left: 20em; */
  padding-top: 1em;
}
.backbtn{
  color: rgba(12, 24, 49, 0.901);
  padding: 0.5em;
  margin: 1em;
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 6px;
  
}
.backbtn:hover{
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
}
#show{
  margin: 5em 20em 0em 30em;
  padding: 0.7em 2em 0.7em 2em;
  font-size: larger;
 
}
.sec5heading h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow:1px 1px #000;
}
.sec5heading h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow:1px 1px #000;
  /* font-size: 3em; */
}
.tabbtn{
 color: rgb(14, 6, 13); 
}
.tabbtn:hover{
background-color: rgb(27, 10, 85);
color: #fff;
}
.cards2{
  margin-top: 3em;
}
.flip-card-front2,.flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5em 0 3em 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front2 {
  background-image:linear-gradient(to left bottom , #090429e1,rgba(87, 6, 37, 0.87));
  /* background:linear-gradient(rgba(67, 34, 87, 0.336),rgba(142, 129, 153, 0.5)), url(./assets/img/bg4.jpg); */
  
  color: #fff;
  font-family:cursive;
}

.flip-card-back2 {
  background-image:linear-gradient(to left bottom , #090429e1,rgba(87, 6, 37, 0.87));
  /* background:linear-gradient(rgba(67, 34, 87, 0.336),rgba(142, 129, 153, 0.5)), url(./assets/img/bg4.jpg); */
  
  color: white;
  transform: rotateY(180deg);
  font-family: cursive;
  
  padding-right: 2em;
  padding-left: 2em;
}
.sec5btn
{
  border-radius: 4px;
  cursor: pointer;
  
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.342),rgba(119, 119, 116, 0.8));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sec5btn:hover{
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
  
}
.plot img{
  margin:1em;
  
}
.flex-column { 
  max-width : 260px;
}

/* ************************************************************************************************************************ */
/* section6 */
.section6
{ 
/* background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.685),rgb(39, 225, 231)); */
/* background:linear-gradient(rgba(49, 71, 77, 0.356),rgba(235, 230, 235, 0.363)), url(./assets/img/bg12.png);  */
background-image: url(./assets/img/bg19.png);
  background-size: cover;
 min-height: 80vh;
}
.sec6heading{
  padding: 1em;
  text-align: center;
  /* font-family: 'Staatliches', Verdana, Geneva, Tahoma, sans-serif; */
  /* font-weight: bolder; */
  color: rgb(66, 49, 114);
  
}
.sec6heading h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow:1px 1px #000;
}

.card{
  margin: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  min-height: 200px;
  border-radius: 8px;
  /* background:linear-gradient(rgba(67, 34, 87, 0.336),rgba(142, 129, 153, 0.5)), url(./assets/img/bg4.jpg); */
  
}
.sec6card{
  background-image:linear-gradient(to left bottom , #090429e1,rgba(87, 6, 37, 0.87));
}
.card-group h1{
  /* background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.26),rgba(232, 236, 236, 0.274)); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
  border-radius: 4px;
  color: #fff;
}
.card-group p{
  /* padding: 1em; */
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
}
.sec6autocard{
  background-image:linear-gradient(to left bottom , #180c42e1,rgba(68, 7, 12, 0.959));
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 250px;
}
.sec6autocard h2{
  background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.089),rgba(232, 236, 236, 0.075));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
.sec6autocard h4{
  padding: 1em;
  /* font-size: xx-large; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'Staatliches', Verdana, Geneva, Tahoma, sans-serif;
  /* text-align: center; */
  color: #fff;
}
.sec6btn{
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px;
  margin-left: 42%;
  margin-right: 41%;
}
.sec6btn:hover{
  color: rgba(12, 24, 49, 1);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 1),rgba(119, 119, 116, 1));
}

/* ************************************************************************************************************************ */
/* Metrics Table */
.metricstable{
  left: 50%;
  display: flex;
  justify-content: center;
  padding: 2em;
}
.metricstable 
table {
	width: 400px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 4px;
  
}


.metricstable td {
	padding: 15px;
	background-color: rgba(255,255,255,0.5 );
	color: #000;
}

.metricstable th {
	text-align: left;
  padding: 1em;
  color: #fff;
  background-color: #03164e;
}

.metricstable td :hover{
			background-color: rgba(221, 222, 224, 0.877);		
}
				
/* ************************************************************************************************************************ */
/* plots */
.plot{
  padding: 2em;
}
				
/* ************************************************************************************************************************ */
/* section 7 */
.section7{
  min-height: 100vh;
  background-color: #130336;
}		
.sec7heading{
  color: #fff;
  padding: 2em;
  text-align: center;
  
}
.sec7heading h2{
  font-size: 3em;
  font-family:'Roberto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec7card{
  background-image:linear-gradient(to top left,rgba(245, 245, 248, 0.918),rgba(48, 48, 49, 0.76));
  /* box-shadow: 5px 3px 3px #aaa; */
}
.sec7text{
  color: #000;
}
.sec7card h2{
  padding: 1em;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
  border-radius: 4px;
}
.sec7card h5{
  padding: 0.5em;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.sec7btn{
  color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(14, 4, 68, 0.815),rgba(66, 5, 25, 0.822));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 8px;
 color: #fff;
}
.sec7btn:hover{
  background-color: #000;
  color: #fff;
}
.modelDetails{
  display: none;
}
/* ************************************************************************************************************************ */

/* footer design */
.footer
{
  background-color: rgb(5, 3, 70);
  background-image:linear-gradient(to top left,rgb(219, 219, 223),rgba(143, 143, 145, 0.96));
  min-height: 20vh;
}
.text-center{
  padding: 2em;
  color: #000;
}