body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background-image:linear-gradient(to top left,rgba(43, 9, 9, 0.733),rgba(18, 18, 20, 0.781)); */
 
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Top moving button */
#topButton{
    transform: rotate(270deg);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-image:linear-gradient(to top left,rgba(119, 96, 146, 0.918),rgb(46, 44, 46));
    color: #fff;
    cursor: pointer;
    padding: 10px;
    /* border-radius: 10em; */
    /* border-style: solid; */
    opacity: 0.8;
}
#topButton:hover{
  background-image:linear-gradient(to top left,rgba(119, 96, 146, 0.918),rgb(27, 27, 27));
 opacity: 1;
}
/* ******************************************************************************************* */
/* header style */
.navbar
{
  /* margin-bottom: 2.5em; */
  /* background-color: rgba(10, 0, 2, 0.815); */
  background-color: #fff;
  height:6em;
}
.navbar-brand
{
  color: rgb(59, 16, 133);
  font-size:xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: expanded;
  margin-right:1.5em;
  margin-left: 1.2em;
}
.navbar-brand:hover
{
  text-shadow: 3px 3px #111;
  color: #752ad8;
}
.nav-link
{
  margin: 1.1em;
  font-weight: 600;
  font-size: larger;
  color: #281b6e;
}
.nav-link:hover
{
  color: #fff;
  background-color: #281b6e;
  /* border-radius: 2em; */
}
.nav-link:focus
{
  color:#fff;
  background-color: #281b6e;
  /* border-radius: 2em; */
}
.btn-outline-success
{
  color: #281b6e;
  border-color: #281b6e;
}
.btn-outline-success:hover
{
  background-color: #281b6e;
  border-color: #aaa;
}
.me-2
{
  border-color: #281b6e;
}
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #271b6e;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin: 1px;
}
#navbarSupportedContent
{
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  
  #navbarSupportedContent
  {
   padding: 1.5em;
   background-color: #eee; }
}
/* *************************************************************************************** */
/* section1 */
/* Background image */
.section1{

/* background-image: url(./assets/img/bg1.jpg); */
background:linear-gradient(rgba(67, 34, 87, 0.336),rgba(142, 129, 153, 0.5)), url(./assets/img/bg1.jpg);
 background-size: cover;
 width: 100%;
 /* opacity: 0.9; */
 min-height: 100vh;
}
/* typing text effects */
.typing-text{
  padding-top: 5em;
}
.typing-text p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: #fff;
}
.typing-text p span.typed-text {
  font-weight:bolder;
  color: #ffef13;
  font-family:cursive;
}
.typing-text p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.typing-text p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
/* text1 effects */
.section1text1{
  color: #fff;
  width:100%;
  padding-left: 25%;
  padding-right: 25%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}
.section1button
{
  border-radius: 2em;
  cursor: pointer;
  color: #421b75;
  font-family:Formular,sans-serif;
  font-weight: 600;
  width: 10%;
  margin: 5%;
  padding: 1em;
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
}
.section1button:hover{
  background-image:linear-gradient(to top left,rgba(119, 96, 146, 0.918),rgb(27, 27, 27));
  color: #fff;
}
@media screen and (max-width: 600px) {
.section1
{
  height: 40em;
}
.section1button{
  width: 100%;
}
}

/* ************************************************************************************* */
/* section2 */
/* form styles for create page*/
.section2
{
  /* background-image: url(./assets/img/bg3.jpg);
  width: 100%;
  height:500%; */
  padding: 5em;
  min-height: 100vh;
  background-image:linear-gradient(to left bottom,rgba(228, 222, 235, 0.76),rgba(32, 12, 70, 0.904));

}  

.createpagebox
{
  padding: 1.2em;
  margin: 1em;
  margin-top: 0;
  /* margin-right:5%; */
  /* margin-left: 5%; */
  /* background-color: #af4c6a; */
  /* background-color: #281b6e; */
  background-image:linear-gradient(to left bottom , #151416,rgb(51, 18, 94));
  /* background-image:linear-gradient(to bottom , #af4c6a,rgb(196, 166, 166)); */
  text-align: center;
  /* border-radius: 1.3em; */
  
  box-shadow: 5px 5px 5px grey;
  /* color: rgba(0,0,0,0.9); */
  color:#fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.createpagebox h1{
  text-shadow:4px 4px #111;
}
.createpagebox p{
  font-size: larger;
  text-shadow:3px 3px #111;
}
.createform
{
  color: #000;
  margin-top: 3em;
  padding: 1.1em;
  padding-top: 2em;
  padding-bottom: 3em;
  /* border-radius: 1.2em; */
  background-color: #fff;
  height: 20em;
  /* background-image:linear-gradient(to bottom right, #bac3ca,#fff); */
  box-shadow: 10px 10px 5px grey;
}
@media screen and (max-width: 600px) {
.createform
{
  height: 25em;
}

}

.col-30 {
  float: left;
  width: 40%;
  margin-top: 1.1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-50 {
  
  float:left;
  width: 50%;
  text-align: center;
}
.col-70 {
  float: left;
  width: 60%;
  margin-top: 1.1em;
}
input[type=text],input[type=number] ,select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #eee;
}

.formbutton {
  
  /* background-image:linear-gradient(to left bottom , #281b6e,rgb(107, 89, 139)); */
  /* background-image:linear-gradient(to bottom right, #af4c6a,rgb(24, 3, 3)); */
  background-image:linear-gradient(to left bottom , #151416,rgb(51, 18, 94));
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 75%;
  /* width: fit-; */
  }

.formbutton:hover {
  background-image:linear-gradient(to bottom right,#aaa,#fff);
  color: #281b6e; 
  font-weight: bolder; 
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10;
    margin-left: 0;
  }
  #navbarSupportedContent
  {
   padding: 1.5em;
   background-color: #eee; }
}
/* ****************************************************************************************** */
/* For form 2 cards */
/* card design */
.flip-card {
  background-color: transparent;
  height: 15em;
  width: 15em;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 1%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5em 0 3em 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-image:linear-gradient(to left bottom , #271b6e4b,rgb(107, 89, 139)); */
  background-image: url(./assets/img/bg2.jpg);
  color: #fff;
  font-family:cursive;
}

.flip-card-back {
  /* background-image:linear-gradient(to left bottom , #271b6e,rgb(107, 89, 139)); */
  background-image: url(./assets/img/bg2.jpg);
  color: white;
  transform: rotateY(180deg);
  font-family: cursive;
  padding-right: 2em;
  padding-left: 2em;
}
.btn2
{
  border-radius: 2em;
  cursor: pointer;
  color: #fff;
  width: 5em;
  background-image:linear-gradient(to left bottom , #aaa,rgb(107, 89, 139));
}
.btn2:hover{
  background-image:linear-gradient(to left bottom , #aaa,rgb(44, 7, 112));
  color: #fff;
}
@media screen and (max-width: 600px) {
  .col-50{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .cards{
    height:37em;
  }
  .flip-card{
    margin-top: 1em;
  }
}
#form2{
  display: none;
  /* display: block; */
}
/* ****************************************************************************************** */
/* For form 3 */
#form3
{
  /* display: block; */
  display: none;
}
/* For spinner/loader */
.loader{
  display:none;
  margin-top: 5em;
  padding: 1.1em;
  padding-top: 2em;
  padding-bottom: 3em;
  border-radius: 1.2em;
  background-color: #fff;
  height: 20em;
  box-shadow: 10px 10px 10px 10px grey;
}
.loader p{
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 1em;
  color: #000;
  text-shadow:1px 1px rgb(69, 9, 97);
}
.spinner-location{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.spinner-border
{
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ********************************************************************************************* */
/* Section3 */
.section3
{ 
background:linear-gradient(rgba(107, 46, 143, 0.336),rgba(82, 96, 126, 0.5)), url(./assets/img/bg4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  /* opacity: 0.9; */
 min-height: 100vh;
}
.section3box{
  background-image:linear-gradient(to top left,rgba(20, 20, 20, 0.705),rgba(203, 205, 207, 0.815));
  /* background-image:linear-gradient(to top left,rgba(189, 189, 105, 0.979),rgb(235, 198, 30)); */
  margin-left: 20%;
  margin-right: 20%;
  height:20em;
  text-align: center;
  color: rgb(247, 244, 250);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 2em;
}
.section3video
{
  margin-top: 2em;
}
.section3button
{
  border-radius: 2em;
  cursor: pointer;
  color: #421b75;
  font-family:Formular,sans-serif;
  font-weight: 600;
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
}
.section3button:hover{
  background-image:linear-gradient(to top left,rgb(27, 27, 27),rgba(113, 92, 136, 0.918));
  color: #fff;
}
@media screen and (max-width: 600px) 
{
  .section3video
  {
    margin-top: 1em;
    width: 280px;
  }
  .section3button{
    width: 100%;
  }
}

/* ********************************************************************************************* */
.section4
{ 
background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.514),rgb(13, 19, 31));
  background-size: cover;
  background-repeat: no-repeat;

  /* opacity: 0.9; */
 min-height: 100vh;
 display: flex;
  align-items: center;
  justify-content: center
}


.section4button
{
  border-radius: 2em;
  cursor: pointer;
  color: #00000094;
  font-family:Formular,sans-serif;
  font-weight: 600;
  margin: 2em;
  padding: 1em;
  align-items: center;
  background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
}
.section4button:hover{
  background-image:linear-gradient(to top left,rgba(119, 96, 146, 0.918),rgb(27, 27, 27));
  color: #fff;
  
}
.section4col1{
  padding: 3em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}

.section4col2{
  padding: 3em;
  font-family: 'Times New Roman', Times, serif;
 text-align: center;
  color: #fff;

}
@media screen and (max-width: 600px) 
{
 
  .section4button{
    width: 100%;
  }
}
/* ************************************************************************************************************************ */
/* section5 */
.section5
{ 
background-image:linear-gradient(to left bottom ,rgba(0, 0, 0, 0.685),rgb(39, 225, 231));
  background-size: cover;
 min-height: 100vh;
}
.sec5heading{
  padding: 1em;
  text-align: center;
  
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sec5heading h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow:5px 5px #000;
  font-size: 3em;
}
.tabbtn{
 color: rgb(14, 6, 13); 
}
.tabbtn:hover{
background-color: #000;
color: #fff;
}
.cards2{
  margin-top: 3em;
}
.flip-card-front2,.flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5em 0 3em 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front2 {
  /* background-image:linear-gradient(to left bottom , #0904294b,rgb(91, 8, 233)); */
  background-image: url(./assets/img/bg4.jpg);
  color: #fff;
  font-family:cursive;
}

.flip-card-back2 {
  /* background-image:linear-gradient(to left bottom , #271b6e,rgb(107, 89, 139)); */
  background-image: url(./assets/img/bg4.jpg);
  color: white;
  transform: rotateY(180deg);
  font-family: cursive;
  padding-right: 2em;
  padding-left: 2em;
}
.plot img{
  margin:1em;
  
}
.flex-column { 
  max-width : 260px;
}
/* ************************************************************************************************************************ */

/* footer design */
.footer
{
  background-color: #ddd;
  min-height: 20vh;
}
.text-center{
  padding: 2em;
  color: #000;
}